/* =============================================
       PASSO 4A: CURSOR CUSTOMIZADO com JS + CSS
    ============================================= */
    #cursor {
      position: fixed; width: 18px; height: 18px;
      border: 2px solid var(--color1);
      border-radius: 50%; pointer-events: none;
      transform: translate(-50%, -50%);
      transition: transform 0.1s, background 0.2s;
      z-index: 9999;
      box-shadow: var(--color2);
    }
    #cursor-dot {
      position: fixed; width: 5px; height: 5px;
      background: var(--color2);
      border-radius: 50%; pointer-events: none;
      transform: translate(-50%, -50%);
      z-index: 9999;
      box-shadow: var(--color1);
    }