.sinopse {
    padding: 35px;
    margin: 50px;
    
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    animation: fadeUp 0.8s ease 0.2s forwards;

}

.sinopse p {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);

    font-size: 40px;
    padding: 35px;
    margin: 50px;
    color: white;
    border-radius: 30px;
    






}

.sinopse img {
    height: 450px;
    margin: 10px;
    padding: 20px;
    position: absolute;
    
}